<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello how are you .....please write some text</h1>
    <form action="/removepunc" method="get">
        <textarea name="text" id="" cols="30" rows="10" style="margin: 0px; width: 1236px; height: 183px;"></textarea><br>
        <input type="checkbox" name="removepunc">Remove Punctutions</input><br>
        <input type="checkbox" name="capital">Capitalization</input><br>
      
        <input type="checkbox" name="spaceremover">Space Remover</input><br>
        <button type="submit">Analyze Text</button>
    </form>
</body>
</html>